.alert {
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1.8;
  color: #fff;
  background: #ddd;
}

.alert-narrow {
  max-width: 200px;
}

.alert-danger {
  background: red;
}

.alert-success {
  background: #20DC6B;
}