.list-group {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group > a {
  position: relative;
  padding: 15px 10px;
  display: block;
  width: 100%;
  color: #545454;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  transition: 0.2s all;
}

.list-group:hover > a {
  opacity: 0.5;
}

.list-group > a:hover {
  background: #F9F9F9;
  opacity: 1;
}

.list-group > a:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.list-group > a.active::before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 2px;
  background: #2196F3;
}