* {
  box-sizing: border-box;
}

body {
  font-family: "Tahoma", Helvetica, sans-serif;
  font-size: 14px;
}

hr {
  height: 1px;
  background: #ddd;
  border: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 15px;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.awesome-heading::after {
  content: "";
  margin-top: 10px;
  display: block;
  height: 3px;
  width: 30px;
  background: #2196F3;
}

.u-text-center {
  text-align: center;
}

.u-img-responsive {
  max-width: 100%;
}